/*
   dark blue #3F63B2
   grey CCDCFF
   light blue 739FFF
   orangebrown B28A2D
   sundown FFD573
*/

#main-header {
    background: #000 url('./images/flare-small.jpeg') no-repeat;
    background-position-x: 0%;
    background-position-y: 50%;
}
#main-header h1 {
    padding: 20px 15px;
    /* Avoid coloring the link blue */
    color: black;
}

#team-name {
    /*background-color: #739fff;*/
}

#narom-header{
    font-family: Orbitron, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

#narom-header img{
    height: 20px;
    padding-right:8px;
}

.container {
    padding-top: 5px;
}

.teamwidget {
    padding: 10px 0;
    font-weight: 200;
    color: lightgray;
}
.teamwidget .active {
    text-transform: capitalize;
    color: black;
}

#mission-timer {
padding: 0 0 10px;
}


.messagebox  {
    list-style-type: none;
    padding: 10px 0; /* remove start padding in lists */
}
.messagebox .alert {
    margin-bottom : 5px;
}

.introscreen h2{
    margin-top: 0;
}

.btn:focus {
    /*outline: none;*/
}