/*
   dark blue #3F63B2
   grey CCDCFF
   light blue 739FFF
   orangebrown B28A2D
   sundown FFD573
*/

#main-header {
    background: #000 url('./images/flare-small.jpeg') no-repeat;
    background-position-x: 0%;
    background-position-y: 50%;
}
#main-header h1 {
    padding: 20px 15px;
    /* Avoid coloring the link blue */
    color: black;
}

/* Just to get some space after the last elements */
#main-footer {
    position:absolute;
    width:100%;
    margin-top: 29px;
    height:1px;
    /*background-color: blue;*/
}

#team-name {
    /*background-color: #739fff;*/
}

#narom-header{
    font-family: Orbitron, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

#narom-header img{
    height: 20px;
    padding-right:8px;
}

.container {
    padding-top: 5px;
}

.teamwidget {
    padding: 10px 0;
    font-weight: 200;
    color: lightgray;
}
.teamwidget .active {
    text-transform: capitalize;
    color: black;
}

#mission-timer {
padding: 0 0 10px;
}


.messagebox  {
    list-style-type: none;
}

.messagebox .alert {
    margin-bottom : 5px;
}

.introscreen h2{
    margin-top: 0;
}

.btn:focus {
    /*outline: none;*/
}

/**
* Draw attention to text as new assignments arrive
*/
@keyframes blink {
    0% { color: red; }
    100% { color: black; }
}
@-webkit-keyframes blink {
    0% { color: red; }
    100% { color: black; }
}
.blink {
    animation: blink 0.5s linear infinite;
    -webkit-animation: blink 0.5s linear infinite;
}

.taskbox__header{
    margin-top: 0;
}

/* Used to signal disabled elements */
/* The parent must be positioned; 'position:relative' or absolute */
/* See http://stackoverflow.com/questions/3627283 */
.overlay {
    /* Expand to cover other layers */
    position:absolute;
    height:100%;
    width:100%;

    /* Position above the other layers */
    z-index:1;


    /* stripes */
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;

    background-color: black;
    opacity: 0.4;

    /* Same as Bootstraps corners */
    border-radius: 6px;
}
.overlayable {
    position: relative;
}

.instruments__section{
    padding-bottom: 10px;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
